@font-face {
    font-family: droidSans;
    src: url('../fonts/DroidSans.ttf');
}

.map-widget .map-control{
    font-family: droidSans, sans-serif;
    margin-left: 20px;
    margin-right:20px;
    color: #555;
    
}

.map-widget .button-control-outer {
    padding: 5px;
}

.map-widget .button-control-border {
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    text-align: center;
    background-color: white;
}

.map-widget .button-control-inner {
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
}

.map-widget .layer-list-control {
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.map-widget .layer-list-control .header {
    padding: 5px;
    background-color: rgb(188, 20, 26);
    color: white;

}

.map-widget .layer-list-control .clear {
    padding: 5px;
    background-color: #BBB;
    color: white;
}

.map-widget .layer-list-control ul li{
    padding: 5px;
    list-style: none;

}

.map-widget .layer-list-control ul li:hover {
    color:rgb(109, 113, 116);
}

.map-widget .layer-list-control ul li.active {
    color:rgb(188, 20, 26);
}


.map-widget .places-control {
    background-color: white;
    margin-bottom: 40px;
    font-size: 16px;
    cursor: pointer;
}

.map-widget .places-control .header {
    padding: 5px;
    background-color: rgb(188, 20, 26);
    color: white;
    display: inline-block;
   
}

.map-widget .header::before {
    content: url('../images/minimize.png');
    float:left;
    padding-right: 10px;
}

.map-widget .header.collapse::before {
    content: url('../images/maximize.png');
    float:left;
    padding-right: 10px;
}

.map-widget .places-control .clear {
    padding: 5px;
    color:rgb(109, 113, 116);
    color: white;
}

.map-widget .places-control ul {
    display: inline;
}

.map-widget .places-control ul li{
    padding: 5px;
    list-style: none;
    display: inline;
    background-color: white;
    
}

.map-widget .places-control ul .places:hover {
    color:rgb(109, 113, 116);
}

.map-widget .places-control ul .places.active {
    color:rgb(188, 20, 26);
}

.map-widget .check-pan-control, .map-widget .check-draw-control{
    position:relative;
    bottom: 7px;  
    
}

.map-widget .check-pan-control-outer, .map-widget .check-draw-control-outer {
    padding: 5px;
    float:left;
    width: 250px;

}

.map-widget .check-pan-control-border, .map-widget .check-draw-control-border {
    cursor: pointer;
    text-align: center;
    background-color: white;
}

.map-widget .check-pan-control-inner, .map-widget .check-draw-control-inner {
    font-size: 14px;
    padding:10px;

}

.map-widget .check-pan-control-inner span, .map-widget .check-draw-control-inner span{
    padding:5px;
    text-align: left;
}


.property-marker {
    background-image: url('../images/precise_pin_inactive_white.png');
    background-repeat: no-repeat;
    background-color: transparent;
    height: 50px;
    width: 50px;
}

.property-cluster-marker {
    height: 40px;
    color: #000;
    background: url('../images/unprecise_pin_inactive_big.png') center no-repeat;
    width: 40px;
    line-height: 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}


.checked-pan {
    background-image: url('../images/check_box.png'), url('../images/checkbox.png');
    background-repeat: no-repeat;
    background-size: 13px 10px, 25px 20px;
    background-position: center, center;
    height: 24px;
    width: 24px;
    padding: 10px 25px 12px 4px;

}

.unchecked-pan {
    background-image: url('../images/checkbox.png');
    background-size: 25px 20px;
    background-position: center;
    height: 24px;
    width: 24px;
    padding: 10px 25px 12px 4px;
    background-repeat: no-repeat;
}

.places-marker {
    background-image: url('../images/placesMarker.png');
    background-size: 15px 15px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.places-cluster-marker {
    color: #fff ;
    background-image: url('../images/cluster-places.png');
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    cursor: pointer;
    font-weight: bold;

}

.places-marker.places-marker-grocery_or_supermarket{
    background-image: url('../images/shopping-card.png');
    background-size: 15px 15px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
}

