@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

@custom-red: rgb(188, 20, 26);
@custom-green: green;

@primary-color: rgb(188, 20, 26);
@secondary-color: green;

@text-color-control: #555;
@text-color-hover-control: #888;

@control-font-size: 13px;
@padding-control: 8px;
@control-height: 32px;
@border-radius-control: 2px;
@shadow-control: 0px 1px 8px #888;

@main-font-family: "Droid Sans", sans-serif;

@left-controls-width: 200px;

.map-widget .map-control {
    font-family: "Droid Sans", sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    color: @text-color-control;

}

.map-widget .map-control > div {
    border-radius: @border-radius-control;
    box-shadow: @shadow-control;
}

.map-widget .header.collapse {
    border-radius: @border-radius-control;
}

.map-widget .header::before {
    content: url('../images/minimize.png');
    float: left;
    padding-right: @padding-control;
    margin-bottom: -3px;
}

.map-widget .header.control-collapse::before {
    content: url('../images/maximize.png');
    float: left;
    padding-right: @padding-control;

}


.map-widget .check-pan-control,
.map-widget .check-draw-control,
.map-widget .refine-search-control {
    position: relative;
    bottom: 7px;
    margin-bottom: 5px;
}

.map-widget .check-pan-control-outer,
.map-widget .check-draw-control-outer,
.map-widget .refine-search-control-outer {
    width: @left-controls-width;
}

.map-widget .check-pan-control-border,
.map-widget .check-draw-control-border,
.map-widget .refine-search-control-border {
    cursor: pointer;
    text-align: left;
    background-color: white;
    border-radius: @border-radius-control;
}

.map-widget .check-pan-control-inner,
.map-widget .check-draw-control-inner,
.map-widget .refine-search-control-inner {
    font-size: @control-font-size;
    padding: @padding-control;
}

.map-widget .check-pan-control-inner span,
.map-widget .check-draw-control-inner span,
.map-widget .refine-search-control-inner span {
    text-align: left;
}

.property-marker {
    background-image: url('../images/precise_pin_inactive_white.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    height: 48px;
    width: 34px;
}

.property-cluster-marker {
    height: 40px;
    color: #000;
    background: url('../images/unprecise_pin_inactive_big.png') center no-repeat;
    width: 40px;
    line-height: 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.checked-pan {
    background-image: url('../images/check_box.png'), url('../images/checkbox.png');
    background-repeat: no-repeat;
    background-size: 13px 10px, 25px 20px;
    background-position: center, center;
    height: 24px;
    width: 24px;
    padding: 10px 25px 12px 4px;

}

.unchecked-pan {
    background-image: url('../images/checkbox.png');
    background-size: 25px 20px;
    background-position: center;
    height: 24px;
    width: 24px;
    padding: 10px 25px 12px 4px;
    background-repeat: no-repeat;
}

.places-marker {
    background-image: url('../images/placesMarker.png');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.places-cluster-marker {
    color: #fff;
    background-image: url('../images/cluster-places.png');
    background-size: 35px 35px;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    line-height: 35px;
    cursor: pointer;
    font-size: 9px;

}

.places-marker.places-marker-grocery_or_supermarket {
    background-image: url('../images/shopping-card.png');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.heatmap-view-button {
    background-image: url('../images/heatmap.png');
    background-size: 40px 34px;
    height: 34px;
    width: 40px;
    background-repeat: no-repeat;
    background-color: white;
    cursor: pointer;
    border-radius: @border-radius-control;
}

.heatmap-view-button.active {
    background-color: @custom-red;
}

//change position of google controls
.map-control.places-control-wrapper {
    right: 50px !important;
    bottom: 30px !important;
}

.map-control.heatmap-view-control-wrapper {
    height: 34px;
    width: 40px;
    bottom: 30px !important;
}

.map-control.layer-list-control-wrapper {
    top: 20px !important;
}

.radio-places-item{
    text-align: left !important;
    padding-left: 10%;
}
.radio-places-item input{
    display: inline;
    width: 20% !important;

}


@import "places-control";
@import "layer-list-control";
@import "overlay";
@import "picture-export-control";
@import 'refine-control';
@import 'poi-control';
@import "ballons";
