html, body, .map-widget, .map-widget ul {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Times New Roman";
}

.map-widget .button-control-outer {
    padding: 5px;
}

.map-widget .button-control-border {
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    text-align: center;
    background-color: white;
}

.map-widget .button-control-inner {
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
}



.map-widget .layer-list-control {
    background-color: white;
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
}

.map-widget .layer-list-control .header {
    padding: 5px;
    background-color: rgb(188, 20, 26);
    color: white;
    font-family: "Times New Roman";
}

.map-widget .layer-list-control .clear {
    padding: 5px;
    background-color: #BBB;
    color: white;
}

.map-widget .layer-list-control ul li{
    padding: 5px;
    list-style: none;
    color: #999;
}

.map-widget .layer-list-control ul li:hover {
    color:rgb(109, 113, 116);
}

.map-widget .layer-list-control ul li.active {
    color:rgb(188, 20, 26);
}



.map-widget .places-control {
    background-color: white;
    margin-bottom: 40px;
    font-size: 20px;
    cursor: pointer;
}

.map-widget .places-control .header {
    padding: 5px;
    background-color: rgb(188, 20, 26);
    color: white;
    display: inline;
    font-family: "Times New Roman";
}

.map-widget .places-control .clear {
    padding: 5px;
    color:rgb(109, 113, 116);
    color: white;
}

.map-widget .places-control ul {
    display: inline;
}

.map-widget .places-control ul li{
    padding: 5px;
    list-style: none;
    display: inline;
    background-color: white;
    color: #999;
}

.map-widget .places-control ul .places:hover {
    color:rgb(109, 113, 116);
}

.map-widget .places-control ul .places.active {
    color:rgb(188, 20, 26);
}

.map-widget .check-pan-control-outer {
    padding: 5px;
}

.map-widget .check-pan-control-border {
    cursor: pointer;
    text-align: center;
    background-color: white;
}

.map-widget .check-pan-control-inner {
    font-size: 12px;
    padding-bottom: 4px;
    padding-right: 4px;
}

.property-marker {
    background-image: url('../images/flag.png');
    background-repeat: no-repeat;
    background-color: transparent;
    height: 50px;
    width: 50px;
}

.property-cluster-marker {
    height: 53px;
    color: #9f3a2b ;
    background-image: url('../images/cluster.png');
    width: 53px;
    line-height: 53px;
    cursor: pointer;
    font-family: Arial,sans-serif;
    font-weight: bold;
}

.checked-pan {
    background-image: url('../images/check.png');
    height: 24px;
    width: 24px;
    padding: 4px 25px 24px 4px;
    background-repeat: no-repeat;
}

.unchecked-pan {
    background-image: url('../images/uncheck.png');
    height: 24px;
    width: 24px;
    padding: 4px 25px 24px 4px;
    background-repeat: no-repeat;
}

.places-marker {
    background-image: url('../images/placesMarker.png');
    background-size: 15px 15px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.places-cluster-marker {
    color: #fff ;
    background-image: url('../images/cluster-places.png');
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    cursor: pointer;
    font-family: Arial,sans-serif;
    font-weight: bold;

}

.places-marker.places-marker-grocery_or_supermarket{
    background-image: url('../images/shopping-card.png');
    background-size: 15px 15px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.balloon.container{
    width:300px;
    height:220px;
    padding:10px;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    
}
.balloon.image-tab .slider_wrapper{
    overflow: hidden;
    position:relative;
    height:150px;
    top:auto;
}

#balloon-image-current{
    width:300px;
    height:150px;
}

.balloon.image-tab #image_slider{

    position: relative;
    height: auto;
    list-style: none;
    overflow: hidden;
    float: left;
    /*Chrom default padding for ul is 40px */
    padding:0px;
    margin:0px;
}
.balloon.image-tab #image_slider li{
    position: relative;
    float: left;
}
.balloon.image-tab .nvgt{
    position:absolute;
    top: 70px;
    height: 35px;
    width: 20px;
    opacity: 0.6;
}
.balloon.image-tab .nvgt:hover{
    opacity: 0.9;
}
.balloon.image-tab #prev{
    background: #555 url('https://dl.dropboxusercontent.com/u/65639888/image/prev.png') no-repeat center;
    left: 0px;
}
.balloon.image-tab #next{
    background: #555 url('https://dl.dropboxusercontent.com/u/65639888/image/next.png') no-repeat center;
    right: 0px;
}

.balloon.image-tab .balloon-images-list{
    padding:0px;
    position:relative;
    height:40px;
    margin:auto;
    margin-top:10px;
}

.balloon.image-tab .balloon-images-list li{
    padding: 0px;
    margin:5px;
    width:40px;
    height:40px;
    border:1px solid white;
    color:white;
    list-style: none;
    opacity: 0.6;
    float:left;
    border-radius: 3px;
    cursor: pointer;
}
.balloon.image-tab .balloon-images-list li img{
    width:40px;
    height:40px;
}

.balloon.image-tab .balloon-images-list li:hover{
    opacity: 0.9;
}

.balloon.data-tab table{
    width: 100%;
}

.balloon.data-tab .data-item{
    width: 100%;
}

.balloon.data-tab .data-item td{
    padding: 1em;
    background-color: #ddd;
}

.balloon.data-tab .data-item td:first-child{
    border-radius: 5px 0 0 5px;
    box-shadow: 4px 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
}
.balloon.data-tab .data-item td:last-child{
    border-radius: 0 5px 5px 0;
    box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
}

.balloon #pano{
    position: relative;
    width: 100%;
    height: 100%;

}

.balloon #map-pano{
  display: none;

}

.balloon{
    border-color:#eee;
}

.balloon-tab{
    background-color: rgb(188, 20, 26);
    color: #fff;
    font-weight: bold;
    border-top-left-radius:0.5em;
    border-top-right-radius:0.5em;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    padding:10px;
    padding-left: 15px;
    padding-right: 15px;
    border-right:1px #ccc solid;

}

.balloon-tab:hover{
    position:relative;
    top:-2px;
}

.balloon-active-tab{
    background-color: #eee;
    color: #000;
}

.balloon-content{
    background-color:#eee;
    border-top-left-radius:0;
    border-top-right-radius:0.5em;
    border-bottom-right-radius:0.5em;
    border-bottom-left-radius:0.5em;
    padding:10px;

}

.balloon-close-button{
    background-image: url('../images/close_icon.png');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;

}

.balloon-arrow-container{
   /*  background-image: url('../images/arrow.png');
     background-size: 50px 50px;
     margin-left: 140px;
     height: 50px;
     width: 50px;
     top:-12px;*/
}

.balloon-arrow{
     border-color: rgb(188, 20, 26) transparent transparent;
     border-style:solid;
     /*if backgroundImage in .balloon-arrow-container*/
     /*display:none;*/
}