html, body, .map-widget, .map-widget ul {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Times New Roman";
}

.map-widget .button-control-outer {
    padding: 5px;
}

.map-widget .button-control-border {
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    text-align: center;
    background-color: white;
}

.map-widget .button-control-inner {
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
}



.map-widget .layer-list-control {
    background-color: white;
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
}

.map-widget .layer-list-control .header {
    padding: 5px;
    background-color: rgb(188, 20, 26);
    color: white;
    font-family: "Times New Roman";
}

.map-widget .layer-list-control .clear {
    padding: 5px;
    background-color: #BBB;
    color: white;
}

.map-widget .layer-list-control ul li{
    padding: 5px;
    list-style: none;
    color: #999;
}

.map-widget .layer-list-control ul li:hover {
    color:rgb(109, 113, 116);
}

.map-widget .layer-list-control ul li.active {
    color:rgb(188, 20, 26);
}



.map-widget .places-control {
    background-color: white;
    margin-bottom: 40px;
    font-size: 20px;
    cursor: pointer;
}

.map-widget .places-control .header {
    padding: 5px;
    background-color: rgb(188, 20, 26);
    color: white;
    display: inline;
    font-family: "Times New Roman";
}

.map-widget .places-control .clear {
    padding: 5px;
    color:rgb(109, 113, 116);
    color: white;
}

.map-widget .places-control ul {
    display: inline;
}

.map-widget .places-control ul li{
    padding: 5px;
    list-style: none;
    display: inline;
    background-color: white;
    color: #999;
}

.map-widget .places-control ul .places:hover {
    color:rgb(109, 113, 116);
}

.map-widget .places-control ul .places.active {
    color:rgb(188, 20, 26);
}

.map-widget .check-pan-control-outer {
    padding: 5px;
}

.map-widget .check-pan-control-border {
    cursor: pointer;
    text-align: center;
    background-color: white;
}

.map-widget .check-pan-control-inner {
    font-size: 12px;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-top: 4px;
}

.map-widget .check-draw-control-outer {
    padding: 5px;
}

.map-widget .check-draw-control-border {
    cursor: pointer;
    text-align: center;
    background-color: white;
}

.map-widget .check-draw-control-inner {
    font-size: 12px;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-top: 4px;
}

.property-marker {
    background-image: url('../images/flag.png');
    background-repeat: no-repeat;
    background-color: transparent;
    height: 50px;
    width: 50px;
}

.property-cluster-marker {
    height: 53px;
    color: #9f3a2b ;
    background-image: url('../images/cluster.png');
    width: 53px;
    line-height: 53px;
    cursor: pointer;
    font-family: Arial,sans-serif;
    font-weight: bold;
}

.checked-pan {
    background-image: url('../images/check.png');
    height: 24px;
    width: 24px;
    padding: 4px 25px 24px 4px;
    background-repeat: no-repeat;
}

.unchecked-pan {
    background-image: url('../images/uncheck.png');
    height: 24px;
    width: 24px;
    padding: 4px 25px 24px 4px;
    background-repeat: no-repeat;
}