.map-widget {
    .map-control.picture-exportation-control > div {
        background: white;
    }
    .picture-exportation-control-inner {
        border-radius: @border-radius-control;
        margin: 5px;
        &.normal {
            min-height: 25px;
            min-width: 25px;
            background: #FFF url('../images/camera.png');
            cursor: pointer;
        }
        &.fullscreen {
            min-height: 25px;
            min-width: 25px;
            background: url('../images/close_24.png');
            cursor: pointer;
        }
    }
}

