html ul,
body ul {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Arial";
}

.content {
}

.map-widget {
    height: 650px;
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.panel-heading a.collapsed:after {
    content: "\e080";
}


/*Infowindow tabs styles*/
	/*Image Tab*/
.balloon.image-tab .slider_wrapper{
    overflow: hidden;
    position:relative;
    height:130px;
    top:auto;
}

#balloon-image-current{
    width:280px;
    height:150px;
}

.balloon.image-tab #image_slider{
    position: relative;
    height: auto;
    list-style: none;
    overflow: hidden;
    float: left;
    /*Chrom default padding for ul is 40px */
    padding:0px;
    margin:0px;
}
.balloon.image-tab #image_slider li{
    position: relative;
    float: left;
}
.balloon.image-tab .nvgt{
    position:absolute;
    top: 50px;
    height: 35px;
    width: 20px;
    opacity: 0.6;
}
.balloon.image-tab .nvgt:hover{
    opacity: 0.9;
}
.balloon.image-tab #prev{
    background: #555 url('https://dl.dropboxusercontent.com/u/65639888/image/prev.png') no-repeat center;
    left: 0px;
}
.balloon.image-tab #next{
    background: #555 url('https://dl.dropboxusercontent.com/u/65639888/image/next.png') no-repeat center;
    right: 0px;
}

.balloon.image-tab .balloon-images-list{
    padding:0px;
    position:relative;
    height:40px;
    margin:auto;
    margin-top:10px;
}

.balloon.image-tab .balloon-images-list li{
    padding: 0px;
    margin:5px;
    width:40px;
    height:40px;
    border:1px solid white;
    color:white;
    list-style: none;
    opacity: 0.6;
    float:left;
    border-radius: 3px;
    cursor: pointer;
}
.balloon.image-tab .balloon-images-list li img{
    width:40px;
    height:40px;
}

.balloon.image-tab .balloon-images-list li:hover{
    opacity: 0.9;
}

	/*Data tab*/
.balloon.data-tab table{
    width: 100%;
}

.balloon.data-tab .data-item{
    width: 100%;
}

.balloon.data-tab .data-item td{
    padding: 0.5em;
   
}


/* override bootstrap styles */
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');

.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
  color:#646464;
  background-color:#efefef;
}

h1,h2,h3,.highlight,.navbar a,#masthead h4 {
  font-family:'Oswald',arial narrow,sans-serif;
}

footer {

  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#cecece;
 
}


#masthead {
  min-height:199px;
  background-color:#bc141a;
  color:#aaaacc;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  color:#fefeff;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  background-color:#861212;
  border-color:#bc141a;
  color:#efefff;
  min-height:127px;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.top-spacer {
  background-color:#ffffff;
  height:40px;
}

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 60px;
  }
}

.navbar-bright {
  background-color:#861212;
  color:#fff;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:#ccccdd;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing:.08em;
}

.navbar-bright li > a:hover {
  background-color:#000044;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#fff;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}

/* New styles from mcarmen  */
/* Top menu */

.navbar-bright {
  background-color: #F9F7F2;
  padding: 10px 0;
  position: relative;
}
header.navbar-bright a, header.navbar-bright .navbar-brand {
  border-radius: 5px;
  color: #B01F24;
  height: auto;
  margin-right: 15px;
  padding: 10px 15px;
}
.navbar-bright li > a:hover, .navbar-bright .navbar-brand:hover {
  background-color: #B01F24;
  color: #F9F7F2;
}

/* Masthead */
#masthead {
  min-height: 175px;
  padding: 15px 0;
}

/* Logo */
#masthead h1 {
  background: url('https://lh5.googleusercontent.com/-74gzMls4Fxs/VP2zFqT-GRI/AAAAAAAAEt8/vVlg-QNF2hU/w720-h320-no/logo-noReg.png') 0 0 no-repeat;
  background-size: 200px;
  width: 200px;
  font-size: 0;
  height: 90px;
  color: transparent;
  margin: 0;
}

/* Top bar */
#masthead .col-md-12 {
  background-color: #bc141a;
}
.top-spacer {
  background-color: transparent;
}

/* Body */
body {
  padding-top: 0;
  background-color: #F9F7F2;
}

body > .container {
  border-radius: 5px;
  margin-top: -50px;
  padding: 30px 25px;
  box-shadow: 2px 2px 10px #aaa;
}

/* Map */
.panel-default>.panel-heading {
  background-color: #F9F7F2;
}
.panel-default>.panel-heading a {
  color: #555;
}
.panel-default>.panel-heading a:hover {
  opacity: 0.9;
}

/* Main menu */
.list-group-item {
  border: 1px solid #E5E2D5;
}
a.list-group-item {
  background-color: #F9F7F2;
  color: #555;
}
a.list-group-item:hover {
  background-color: #B01F24;
  color: #fff;
}


